<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Kirjat</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <table class="table table-striped">
      <tr>
        <th>Kirjan nimi</th>
        <th>Kirjailija</th>
        <th>Toiminnallisuudet</th>
      </tr>
      <tr th:each="book : ${kirjat}">
        <td th:text="${book.title}"></td>
        <td th:text="${book.author}"></td>
        <td th:text="${book.category.name}"></td>
        <td><a th:href="@{/editBook/{id}(id=${book.id})}">Muokkaa</a></td>
        <td><a th:href="@{/deleteBook/{id}(id=${book.id})}">Poista</a></td>
      </tr>
    </table>
    <a href="index">Pääsivulle</a>
    <a href="newBook">Lisää uusi kirja</a>
    <a href="newBookWithValidation">Lisää uusi kirja VALIDOINNILLA</a>
  </body>
</html>
