<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Lisää kirja</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <form action="#" th:object="${book}" th:action="@{saveBook}" method="post">
      <div>
        <label>Kirjailija </label>
        <input type="text" th:field="*{author}" />
      </div>
      <div>
        <label>Kirjan nimi</label>
        <input type="text" th:field="*{title}" />
      </div>
      <div>
        <label>Julkaisuvuosi</label>
        <input type="text" th:field="*{publicationYear}" />
      </div>
      <div>

        <label>Kategoria</label>
			  <select th:field="*{category}">
       			<option th:each="category: ${categories}" 
            th:value="${category.id}" th:text="${category.name}"></option>
    		</select>
      </div>
      <input type="submit" value="Save"></input>
    </form>
  </body>
</html>
